
img{
    left: 1px;
    height: 9rem;
    position: absolute;
    top: 1px;
    mix-blend-mode: multiply;
}

#submitButton{
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

#submitButton:hover{
    background-color: white;
    color: black;
    
}

@media screen and (max-width: 680px){
    img{
        display: none;
    }
}
